
@{
    ViewBag.Title = "GetNewsCopyLinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Beyond The Game", "BeyondTheGame", "Article")</li>
    <li>@Html.ActionLink("The Hope Center", "GetHopeCenter", "Article")</a></li>
    <li>@Html.ActionLink("Space Center Needs Funding", "GetSpaceCenter", "Article")</li>   
</ul>

