
@{
    ViewBag.Title = "EmailMarketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmailMarketing</h2>

<p>
    <strong>
        Subject: You’re not a published writer because you hate rejection. Try
        this…
    </strong>
</p>
<p>
    I met this lady-I’ll call her Linda- who was an aspiring author. She wrote
    and submitted fifteen romance novels to publishers. All fifteen were
    rejected.
</p>
<p>
    Ouch.
</p>
<p>
    The lady told me then that she was working on her sixteenth novel. And she
    was going to submit hat one as well. I don’t know if sixteen was the magic
    number or not, but -way to push, there Linda!
</p>
<p>
    Would you put yourself through that? I know I wouldn't. I don't expect many
    of us would.
</p>
<p>
    But you know what? You don’t have to. Forget about editors and fancy pants
    publishers and they’re expectations. You can get published right now! And
    make money!
</p>
<p>
    How? By publishing on the web. Write compelling content that will draw
    people to your site. Your writing will be out there for everybody to see!
</p>
<p>
    “I love writing, but I don’t know how to put it on the internet…”
</p>
<p>
    And that’s where we come in. Our course called    <strong>How to Write Your Own Money-Making Websites</strong> will show you
    the quickest and cheapest way to get a website up and running.
</p>
<p>
    Click here to find out more!<em></em>
</p>
<p>
    “There are millions of websites out there! Why would anyone other than a
    few friends come to mine?”
</p>
<p>
    <strong>How to Write Your Own Money-Making Websites </strong>
    will show you how to write compelling content that will attract more than
    just your friends to your website. The course will also show you how to use
    keywords and other Search Engine Optimization tricks(SEO) which will bring
    folks to your website.
</p>
<p>
    Click here to find out more!
</p>
<p>
    “Sounds like a big hassle putting up a website and all. Besides, you don’t
    make that much money.”
</p>
<p>
    You sure about that? If you’re truly passionate about something then it’s a
    good bet that someone else is too. More than just a few someones probably.
    Good sharp web writing, SEO placement will bring those fellow aficionados
    by the dozens. And there is potential for serious money to be made by
    promoting products, email marketing, affiliate marketing, and so on.    <strong>How to Write Your Own Money-Making Websites </strong>will help you
    with all of that.
</p>
<p>
    Click here to find out more!
</p>
<br clear="all" />
<p>
    If you really want to be writer and live the dream, now’s the chance.    <strong>How to Write Your Own Money-Making Websites </strong>lays it out
    for you
</p>
<p>
    • Choose the best way to make your topic traffic friendly.
</p>
<p>
    • How to pick a domain name that will get customers.
</p>
<p>
    • Write copy that grabs interest.
</p>
<p>
    • Where to find affiliates
</p>
<p>
    • How to pick a name for your website.
</p>
<p>
    • How to write copy search engines love
</p>
<p>
    <strong>How to Write Your Own Money-Making Websites </strong>
    will teach you more than how to put up a website and get followers. It will
    help you become your own publisher. And once you publish for yourself,
    what’s to stop you from creating other websites and publishing material for
    those as well? With the skills gained from our course, you can provide
    opportunities for yourself and others. The sky is the limit!
</p>
<p>
    There. Rejection, smjection. You have no excuse, and no reason not to get
    started now.
</p>
<p>
    Click here to stop daydreaming and to learn how to start living the life
    you always wanted!
</p>
<p>
    Start today!
</p>