
@{
    ViewBag.Title = "EmailMarketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> Subject: This should never happen…</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <p>In Michigan, an elderly woman, named Bimla, goes into surgery to have a bilateral jaw replacement. Instead, she has five holes drilled her head and part of her skull replaced.</p>

                <p>Another patient in that hospital needed that surgery, not Bimla. That mixup cost the hospital 21 million dollars. </p>

                <p>It cost Bimla, an elderly woman still recovering from a heart attack, her life.</p>

                <p>In a critical environment where so much can go wrong, it’s PatientCom's mission to make sure all goes right</p>

                <p>Our solution gives every clinical worker complete access to real-time, critical patient data.</p>

                <p>In the palm of their hand.</p>

                <p>To find out how PatientCom's wireless, secure platform can help you give your patients the best care possible, click here.</p>
            </div>
        </div>
    </div>
</article>

    @*<div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> Subject: This should never happen…</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> Subject: Help doctors help patients…</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">

            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> Subject: This should never happen…</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> Subject: This should never happen…</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> Subject: This should never happen…</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
            </div>
        </div>
    </div>*@




