
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="bg-faded p-4 my-4">

        <hr class="divider">
        <div class="row">
           
            <div class="col-lg-12">
              
                    <h4>September 26,2017</h4>

                    <p align="center"><h2>Selling Your Business Using Your Story</h2></p>

                    <p>
                        Sometime in 2010, journalist Rob Walker took cheaply purchased objects-the
                        objects averaged $1.25 apiece- and gave each over to a writer who then
                        created a story around the object. The idea was that the story would give
                        the object greater significance than it would have otherwise.
                    </p>
                    <p>
                        To test the theory out, each object was sold on eBay.
                    </p>
                    <p>
                        The eBay description included the story of the object. In addition, buyers
                        were told explicitly that the story was fictitious. Let me repeat, the
                        buyers knew prior to buying each object that the object's story was made
                        up! But buyers scooped up the objects for the asking price, regardless.
                    </p>
                    <p>
                        So how did the objects do? The Project reports that $128.74 worth of junk
                        sold for $3,612.51. That's easily over a thousand percent profit! What was
                        the only difference between these objects and stuff you would find at your
                        local yard sale?
                    </p>
                    <p>
                        A story.
                    </p>
                    <strong>
                        <br clear="all" />
                    </strong>
                    <p>
                        <strong></strong>
                    </p>
                    <p align="center">
                        <strong>Why Your Business Need Stories and Brands</strong>
                    </p>
                    <p>
                        Stories are the heart of content marketing. What do they do?
                    </p>
                    <ul>
                        <li>
                            <p>
                                · They get your customer's attention
                            </p>
                        </li>
                        <li>
                            <p>
                                · They help you define a customer's problem and tell the customer how your
                                product or service solves their problem.
                            </p>
                        </li>
                    </ul>


                    <p>
                        Today the marketplace has become busier than ever. Thanks to the internet
                        and companies like Amazon and Alibaba, there are more products and
                        companies selling those products than ever. If you have a credit card and
                        decent amount of credit you can find a supplier that will sell you XYZ
                        product in bulk that you can turn around and sell at a markup. As can your
                        competitor.
                    </p>
                    <p>
                        And then the sales go to whoever has the lowest price. And that's fine-if
                        you are Walmart, Lowes, whoever.
                    </p>
                    <p>
                        But if can't compete on price, you have to compete in some other way. One
                        obvious way is to differentiate your product. In other words, my competitor
                        is selling XYZ while I'm selling XYZ with a twist.
                    </p>
                    <p>
                        How do you create that twist? With a story.
                    </p>
                    <p align="center">
                        <strong>A story says it all</strong>
                    </p>
                    <p>
                        What is a story? It's the relationship between someone and their
                        circumstances as that someone tries to solve a problem.
                    </p>
                    <p>
                        "I was out hunting and was attacked by a saber-toothed tiger. Using this little trick I know
                        and a little luck, I got away" said one cave man to another, many thousands
                        of years ago.
                    </p>
                    <p>
                        "I have all this clutter-soap, shampoo, towels- in my shower! I was beside
                        myself until I got the best shower caddy ever. And a great deal to boot!"
                        says one parent to another in modern America.
                    </p>
                    <p>
                        Each of the statements above is the kernel of a story. Each has a
                        protagonist-the person telling the story, and a plot or series of events
                        that outlined the problem and solution. Stories have been around since the
                        dawn of humanity, and in today's world, most of us spend our lives either
                        hearing or telling stories or both.
                    </p>
                    <p>
                        Why? Entertainment, obviously. But stories also do something else. The one
                        caveman listens to the other tell his story of missing the saber tooth
                        tiger. As that caveman listens he imagines what he would do if he were in
                        the same situation. The friend listens to the parent's solution to a
                        domestic dilemma. As they listen, they also imagine their own problems and
                        apply the teller of the tale's solution to their own.
                    </p>
                    <p>
                        In short, stories help us survive and thrive. Every second, eleven million
                        pieces of information flood our senses. We can process maybe forty of those
                        pieces at any given moment. What about other animals? Most don't bother.
                        They rely on what we know as reflexes or instincts. Instincts enable
                        animals to do mainly what psychologists sometimes call the "four fs":
                        feeding, fighting, fleeing, and… mating.
                    </p>
                    <p>
                        But the lives of us humans are obviously way more complex. We form deep
                        relationships with friends and family, write poetry and math theorems,
                        build structures and businesses. The various enterprise people take on
                        require focus, forming priorities, and making decisions. How does someone
                        take over eleven million pieces of information and use that to build a
                        house, a business, or a non-profit organization?
                    </p>
                    <p>
                        They use stories. "I want a house that is three thousand square feet, has a
                        dine in kitchen and sits on enough land where I can put my vegetable garden
                        and start a beehive."
                    </p>
                    <p>
                        "I have this great idea for a business. If I could get business to follow
                        my system they would save so much money All I need is some capital- an
                        investor or two. know this guy-I need to set up a meeting"
                    </p>
                    <p>
                        "The world would be a better place if we had more people and attention
                        given to this cause. "
                    </p>
                    <p>
                        Or.
                    </p>
                    <p>
                        "This is given me so much problem. I can't believe someone hasn't invented
                        something to take care of this for me!"
                    </p>
                    <p>
                        Or.
                    </p>
                    <p>
                        "This problem is really putting a crimp on production. It might be worth it
                        to somebody to get someone or something
                    </p>
                    <p align="center">
                        <strong>See Your Customer's Story As Your Own</strong>
                    </p>
                    <p>
                        Humans work through problems using stories. If you can craft a story that
                        coincides with the problem in their story then you can create interest and
                        an angle for what you're selling. In turn, that will arouse the curiosity
                        of a potential customer and hopefully lead to a sale.
                    </p>
                    <p>
                        Let's say you own an airplane and you have a small business flying
                        customers around to cities in your region. It costs way more to fly with
                        you than it does a regular airline. You only fly certain areas, and you
                        don't fly twenty-four seven. But there are smaller charter airlines and
                        private pilots who offer the same service. They fly in the same region and
                        the same routes as you.
                    </p>
                    <p>
                        You have to differentiate yourself. How?
                    </p>
                    <p>
                        Your business performs the same service as many other similar businesses,
                        but it is not the same as other businesses. What is the difference?
                    </p>
                    <p>
                        You. And the way you explain that difference is through a story.
                    </p>
                    <p>
                        Let's say you've always wanted to be a pilot. Maybe you started flying when
                        you were young in like the Civil Air Patrol, you flew in the service, flew
                        as a missionary bush pilot, or maybe you went to school somewhere and
                        trained, whatever. It doesn't matter what your history is, you just have to
                        tie it into the problem the customer has. Let's say you started out
                        training at an aerospace college somewhere and eventually worked for an
                        airline.
                    </p>
                    <p>
                        But you hated working for the airlines. The bureaucracy, the waits, the
                        hassle with passengers who had issues that you had no control over as an
                        employee of a company. You noted all the things that passengers hate about
                        flying: long waits, cramped seats, layovers, etc. You came up with a
                        solution and executed it. Now, your air service carries passengers point to
                        point, no hassle waiting, and they can walk out of the terminal to the
                        plane. As a plus, you're personable and get along well with people.
                    </p>
                    <p>
                        And there, Mr. Ex Airline-now-CEO-of-your-own-charter-business, there's your story. You the protagonist saw a problem, and you came to
                        the rescue and fixed it. More importantly, in your marketing, you reveal a
                        little about yourself during your story. You like people and want to help
                        them get where they're going quickly and comfortably. That builds rapport
                        and makes you a person-different from any other pilot or service out.
                        Because as you and I know, there is no other person like you.
                    </p>
                    <p>
                        And you are the only one who can tell your story. That's on you.
                    </p>

                    <p>
                        References:

                    </p>
                    <ul>
                        <li>Cron, Lisa. Wired for story: the writers guide to using brain science to hook readers from the very first sentence. New York: Ten Speed Press, 2012</li>
                        <li>T.D. Wilson, Strangers to Ourselves: Discovering the Adaptive Unconscious(Cambridge,MA: Belknap Press of Harvard University Press, 2002), 24</li>
                        <li>Eagleman, David. Incognito: the secret lives of the brain. Edinburgh: Canongate, 2016.</li>
                        <li>Kuenstler, Walt. Myth, magic, and marketing: an irreverent history of branding from the Acropolis to the Apple Store. Havertown, PA: Zolexa Publishing, 2012</li>
                    </ul>



               


            </div>
        </div>
    </div>



</div>


