@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article>
    <div style="text-align:center">
        <h4>Email Marketing </h4>
        <p>Click on links below for email samples</p>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div style="font-weight:bold">
                    Subject: Not published because you hate rejection? Try this…
                </div>
                <div>
                    Hi {FirstName}},
                    <br />
                </div>
                <div>
                    I met this lady-I’ll call her Linda- who was an aspiring author. She wrote and submitted fifteen romance novels to publishers. All fifteen were rejected.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Ouch.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    The lady told me then that she was working on her sixteenth novel. And she was going to submit that one as well. I don’t know if sixteen was the magic number or not, but -way to push, there Linda!
                </div>
                <div>
                    Would you put yourself through that? I know I wouldn't. I don't expect many of us would.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    But you know what? You don’t have to. Forget about editors and fancy pants publishers and they’re expectations. You can get published right now! And make money!
                </div>
                <div>
                    <br />
                </div>
                <div>
                    How? By publishing on the web. Write compelling content that will draw people to your site. Your writing will be out there for everybody to see. And our course called "How to Write Your Own Money-Making Websites" will show you the quickest and cheapest
                    way to get a website up and running.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Click here to find out more.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    If you really want to be a writer and live the dream, now’s the chance. "How to Write Your Own Money-Making Websites" lays it out for you
                </div>
                <div>
                    • Choose the best way to make your topic traffic friendly.
                </div>
                <div>
                    • How to pick a domain name that will get customers.
                </div>
                <div>
                    • Write copy that grabs interest.
                </div>
                <div>
                    • Where to find affiliates
                </div>
                <div>
                    • How to pick a name for your website.
                </div>
                <div>
                    • How to write copy search engines love
                </div>
                <div>
                    Click here to find out more.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Once you finish "How to Write Your Own Money-Making Websites"  you will know how to put up a website and get followers. You will know what you need to do to become your own publisher. And once you publish for yourself, there's nothing stopping you from creating more websites, publishing more material, and earning more money. With the skills gained from our course, you can provide opportunities for yourself and others. The sky is the limit!
                </div>
                <div>
                    <br />
                </div>
                <div>
                    There. Rejection, smjection. You have no excuse, and no reason not to get started now.
                </div>
                <div>
                    Click here to stop daydreaming and to learn how to start living the life you always wanted!
                </div>
                <div>
                    Start today!
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div style="font-weight:bold">
                    Subject: Not published because you hate rejection? Try this…
                </div>
                <div>
                    Hi {FirstName}},
                    <br />
                </div>
                <div>
                    I met this lady-I’ll call her Linda- who was an aspiring author. She wrote and submitted fifteen romance novels to publishers. All fifteen were rejected.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Ouch.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    The lady told me then that she was working on her sixteenth novel. And she was going to submit that one as well. I don’t know if sixteen was the magic number or not, but -way to push, there Linda!
                </div>
                <div>
                    Would you put yourself through that? I know I wouldn't. I don't expect many of us would.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    But you know what? You don’t have to. Forget about editors and fancy pants publishers and they’re expectations. You can get published right now! And make money!
                </div>
                <div>
                    <br />
                </div>
                <div>
                    How? By publishing on the web. Write compelling content that will draw people to your site. Your writing will be out there for everybody to see. And our course called "How to Write Your Own Money-Making Websites" will show you the quickest and cheapest
                    way to get a website up and running.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Click here to find out more.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    If you really want to be a writer and live the dream, now’s the chance. "How to Write Your Own Money-Making Websites" lays it out for you
                </div>
                <div>
                    • Choose the best way to make your topic traffic friendly.
                </div>
                <div>
                    • How to pick a domain name that will get customers.
                </div>
                <div>
                    • Write copy that grabs interest.
                </div>
                <div>
                    • Where to find affiliates
                </div>
                <div>
                    • How to pick a name for your website.
                </div>
                <div>
                    • How to write copy search engines love
                </div>
                <div>
                    Click here to find out more.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Once you finish "How to Write Your Own Money-Making Websites"  you will know how to put up a website and get followers. You will know what you need to do to become your own publisher. And once you publish for yourself, there's nothing stopping you from creating more websites, publishing more material, and earning more money. With the skills gained from our course, you can provide opportunities for yourself and others. The sky is the limit!
                </div>
                <div>
                    <br />
                </div>
                <div>
                    There. Rejection, smjection. You have no excuse, and no reason not to get started now.
                </div>
                <div>
                    Click here to stop daydreaming and to learn how to start living the life you always wanted!
                </div>
                <div>
                    Start today!
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <br />
</article>