@model LFC.Models.Service
<article style="padding-top:10px">
    <strong>
        What. Why. Where. When.
    </strong>
    <p>
        No matter what you sell, your customers are going to want to know two
        things.
    </p>
    <ul>
        <li>
            What do you have to sell?
        </li>
        <li>
            Why should I or my business care?
        </li>
    </ul>
    <p>
        My copy will answer both of those questions.
    </p>
    <strong>
        You need copy that gets their attention
    </strong>
    <p>
        Before anything else, however, you have to get noticed. You need copy that
        tells your customer something that they never heard before. Or it tells
        them what they know or think they know, but in a way that allows them to see
        their problem in a different light. I write copy that does both.
    </p>
    <strong>
       And builds rapport
    </strong>
    <p>
        Most people buy from those they trust. Developing rapport with your
        customer builds trust. You gain that trust in part by telling the customer
        the story of you and your business. Once the customer comes to know your
        story and solution, they are more inclined to listen to you.
    </p>
    <p>
        A story relates how a protagonist encounters a problem and solves it. My
        copy does just that: it makes you and your business the protagonist, shows
        how you found a problem and solved it, and why your customer needs that
        solution.
    </p>
    <strong>
        The best copy educates your customer
    </strong>
    <p>
        Stories have been educating people since before recorded history. And today
        storytelling is a great way to get your ideas and business solutions out to
        the market. Stories draw customers in, entertain, educate, and help them
        remember what your business is about and how it can help them. I am a
        passionate storyteller, and my copy will help readers do all of that.
    </p>
    <strong>
        I offer
    </strong>
    <p>
        Email marketing is a great way to introduce your business and remind your
        customers that you are there. White papers explain your story in more
        depth. I do both.
    </p>
    <p>
        True, I have a passion for stories, but I don’t shrink from the hard,
        technical side of life. I have a degree in Technical Communications from
        the University of Tennessee. I have written articles on subjects involving
        people, health, and technology. And I have spent years working as a
        software developer in various enterprise environments. I know technology
        and I can explain it to a six grader.
    </p>
    <p>
        But rather than just have me tell you that I can help, let me show you. I
        have samples on this site that you can look at. Send me any marketing
        piece-ad, brochure, sales letter, white paper, etc. I’ll send you back an
        analysis of what’s right, what could be better, and what I would do. I also
        do work on spec.
    </p>
    <p>
        Email me here, Ernest Lipford at    <a href="mailto:leapforward@gmail.com">leapforward@gmail.com</a>.
    </p>
    <p>
        I look forward to hearing from you.
    </p>
    <div id="hdnService">
        @Model.Type
    </div>

</article>

