
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About me</h2>
<article>
    <p>I received a BA in English with an concentration in Technical Communications from the University of Tennessee in Knoxville</p>
</article>

