
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="bg-faded p-4 my-4">

        <hr class="divider">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="~/images/slide-1.jpg" alt="">

            </div>
            <div class="col-lg-6">
                <p>I received a BA in English with a concentration in Technical Communications from the University of Tennessee in Knoxville. I was writing way before I ever set foot in college. I guess that's the way it is for many of us. In addition to articles for the local paper, I wrote fiction here and there. I've always been interested in and passionate about the written word. </p>

                <p>I've been a software developer for a number of years so I have an interest in technology. I worked mostly with the Microsoft technology stack: C#, ASP.NET, </p>

                <p>Technology doesn't scare me.</p>
                <p>And neither does a blank page.</p>

                <p>I like words. I don't like wasting them. I like saying things in the quickest, most efficient way possible.</p>
                <p>Cause life's too short.</p>
                <p>I'm sure you and your customers would agree.</p>
           
            </div>
        </div>
    </div>



</div>





