
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article style="font-size:16px">


    <p>I received a BA in English with a concentration in Technical Communications from the University of Tennessee in Knoxville.</p>
    
    <p> was writing way before I ever set foot in college.  In addition to articles for the local paper, I wrote fiction here and there. I've always been interested in and passionate about the written word. </p>

    <p>I've been working as a software developer for a number of years so I have an interest in and familiarity with technology. I worked mostly with the Microsoft technology stack: C#, ASP.NET,and SQL Server. </p>

    <p>Technology doesn't scare me.</p>
    <p>And neither does a blank page.</p>

    <p>I like words. I don't like wasting them. I like saying things in the quickest, most efficient way possible.</p>
    <p>Because life-as been said many times before-is too short.</p>
    <p>I'm sure you and your customers would agree.</p>

</article>




