
@{
    ViewBag.Title = "EmailMarketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h2>Click on links below for email samples</h2>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> Subject: Not published because you hate rejection? Try this…</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div>
                    Hi {FirstName}},
                    <br />
                </div>
                <div>
                    I met this lady-I’ll call her Linda- who was an aspiring author. She wrote and submitted fifteen romance novels to publishers. All fifteen were rejected.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Ouch.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    The lady told me then that she was working on her sixteenth novel. And she was going to submit that one as well. I don’t know if sixteen was the magic number or not, but -way to push, there Linda!
                </div>
                <div>
                    Would you put yourself through that? I know I wouldn't. I don't expect many of us would.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    But you know what? You don’t have to. Forget about editors and fancy pants publishers and they’re expectations. You can get published right now! And make money!
                </div>
                <div>
                    <br />
                </div>
                <div>
                    How? By publishing on the web. Write compelling content that will draw people to your site. Your writing will be out there for everybody to see. And our course called "How to Write Your Own Money-Making Websites" will show you the quickest and cheapest
                    way to get a website up and running.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to find out more.-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    If you really want to be a writer and live the dream, now’s the chance. "How to Write Your Own Money-Making Websites" lays it out for you
                </div>
                <div>
                    • Choose the best way to make your topic traffic friendly.
                </div>
                <div>
                    • How to pick a domain name that will get customers.
                </div>
                <div>
                    • Write copy that grabs interest.
                </div>
                <div>
                    • Where to find affiliates
                </div>
                <div>
                    • How to pick a name for your website.
                </div>
                <div>
                    • How to write copy search engines love
                </div>
                <div>
                    -Click here to find out more.-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Once you finish "How to Write Your Own Money-Making Websites"  you will know how to put up a website and get followers. You will know what you need to do to become your own publisher. And once you publish for yourself, there's nothing stopping you from creating more websites, publishing more material, and earning more money. With the skills gained from our course, you can provide opportunities for yourself and others. The sky is the limit!
                </div>
                <div>
                    <br />
                </div>
                <div>
                    There. Rejection, smjection. You have no excuse, and no reason not to get started now.
                </div>
                <div>
                    -Click here to stop daydreaming and to learn how to start living the life you always wanted!-
                </div>
                <div>
                    Start today!
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#dontListen"> Subject: {Firstname},don’t listen...</a>
                </h4>
            </div>
            <div id="dontListen" class="panel-collapse collapse">


                <div>
                    <br />
                    ...when others tell you there is no money in writing. Because there is.
                </div>
                <div>
                    <br />
                    But let me ask you, {Firstname}.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    What do you do to get away from it all? (When you’re not writing that is.) And I’m not talking about that-I’m talking about a hobby. You know the woodworking, the tinkering with the motor or the circuit board. Or the baseball card collecting. Or snakeskin
                    collecting. Or handcuff collecting. Whatever. I'm not judging.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Where do you go to get the latest on your hobby?
                </div>
                <div>
                    <br />
                </div>
                <div>
                    A website or websites, right?
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Is that website yours? If not, why not. If so, are you making money with it? If not, why not?  Whatever your interest or passion is you can and should be making money at it.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    {FirstName}}, let's get you on the road to profiting from your passion.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Like I said, How to Write Your Own Money-Making Websites will show you
                </div>
                <div>
                    • how to write web pages that incite interest and generate profits.
                </div>
                <div>
                    • how to find affiliates who will pay you to sell their products on your website.
                </div>
                <div>
                    • How to use Google Adsense and other forms of advertising.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to find out more.-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Satisfaction is guaranteed. If you don’t like the product you have {NumberOfDaysToReturn} to get a complete refund. You have absolutely nothing to lose.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Remember our course also teaches you
                </div>
                <div>
                    • How to pick a domain name that will get customers.
                </div>
                <div>
                    • How to write copy search engines love
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to sign up now.-
                </div>
                <div>
                    And if you sign up by {EndPromotionDate} you’ll save 50% off the regular price.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    The longer you wait, the more money you lose by not getting started. And before you know it, {EndPromotionDate} will be over and you’ll be stuck paying the regular price.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to sign up now and take advantage of this great offer.-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Stop waiting and get started.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to get started now.-
                </div>

            </div>
        </div>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#doWhatYouLove">Subject:do what you love-$$$/month ….</a>
                </h4>
            </div>
            <div id="doWhatYouLove" class="panel-collapse collapse">
                <div>
                    {FIRSTNAME}, there's doing what you want. And then there's doing what you want while making up to hundreds a month doing it. You do that by making websites centered around your interests and passions.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    It’s me again. Hopefully, I answered your questions the last time. Still, you haven’t registered. But I know how it is, you get busy, you wonder if this is for you, do you really want to shell out money to someone you barely know…
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I know how it is because I was just like that.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I’ve been writing since eighth grade. I remember when it all started. I had written an essay and the teacher complimented my paper and encouraged me to keep it up. Suffice it to say, the teacher was young and pretty and I was hooked.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I kept it up and ended up getting a degree in English. But did I end up as a writer? Not really. The writing jobs that I ended up with after college were interesting, but the pay didn’t even cover rent. I got discouraged and tired of struggling. I ended
                    up getting a job that had nothing to do with writing but paid way better than what I was making before.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I did ok. But I could have done better. I could have made all the money I wanted and kept on writing. And I did.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    And you can too. Starting right now.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    How? By creating your own websites and using your copy to make money selling ads, product whatever. You can write about whatever you’re interested-I guarantee that if you’re interested in it, then someone else is. We’ll teach you how to do it in our course
                    How to Write Your Own Money-Making Websites.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Here’s what you’ll learn in our course
                </div>
                <div>
                    • Choose the best way to make your topic traffic friendly.
                </div>
                <div>
                    • How to pick a domain name that will get customers.
                </div>
                <div>
                    • Write copy that grabs interest.
                </div>
                <div>
                    • Where to find affiliates
                </div>
                <div>
                    • How to pick a name for your website.
                </div>
                <div>
                    • How to write copy search engines love
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to find out more.-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Just like any other business or venture, there’s ins and outs and things you have to know. But we show you all of that. And you don’t have to go to college like I did.
                </div>
                <div>
                    -Click here to find out more.-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Don’t wait. Take action. You’ve got nothing to lose. If this isn’t for you simply give us a call by
                </div>
                <div>
                    <br />
                </div>
                <div>
                    {NumberOfDaysToReturn} and you’ll get a 100% refund guaranteed.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    And if you act before {EndPromotionDate}, you’ll get 50% off the regular price.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I don’t know what more I can do. So please take a look, take action, and get started.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to find out how to get started today.-
                </div>
                <div>
                    <br />
                </div>
                <div>

                </div>
                <div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#dontLetThisGoBye">Subject: Don’t let this go bye.</a>
                </h4>
            </div>
            <div id="dontLetThisGoBye" class="panel-collapse collapse">
                <div>

                </div>
                <div>
                    Hey {Firstname},
                </div>
                <div>
                    First, let apologize. I figured I had told you everything you needed to know about our course How to Write Your Own Money-Making Websites. I assume that you would recognize what a great value the course was and would have bought it already.
                </div>
                <div>
                    But apparently, I was wrong. And I think I know why.
                </div>
                <div>
                    You had questions that I didn’t answer. Let me see if I can answer a few of
                    those now
                </div>
                <div>
                    • “I love writing, but I don’t know anything about putting up a website…”
                </div>
                <div>
                    <br />
                </div>
                <div>
                    That’s what this course teaches. We show you how to put up a website with minimal or no coding. We show you how to pick a domain name so that your website will be recognized. We show how to structure a home page, and so much more.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to see more of what I’m talking about.-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    • “There are millions of websites out there! Why would anyone other than a
                    few friends come to mine?”
                </div>
                <div>
                    <br />
                </div>
                <div>
                    This course teaches you how to write copy that search engines love, and that attracts users. The course also shows you and how to keep them by writing copy that is fresh and exciting. The bigger your interest and passion for the subject is, the easier it is to write good copy.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to find out to write web copy that grabs you.-
                </div>
                <div>
                </div>
                <div>
                    • “Sounds like a big hassle putting up a website and all. Besides, you
                </div>
                <br />
                <div>
                    You sure about that? If you’re truly passionate about something then it’s a good bet that someone else is too. More than just a few someones probably. Good sharp web writing, SEO placement will bring those fellow aficionados by the dozens.  "How to Write Your Own Money-Making Websites" will show where to find the best and highest-paying affiliates, and how to make even more money with Google AdSense and other forms of site advertising.
                    Don’t miss out on this exciting opportunity. In fact, if you, order within seven days we’re offering 50% off the purchasing price.




                </div>
                <div>  Click here to learn more about this great offer.</div>
                <div> Don’t wait. Those seven days will go by faster than you think.</div>
                <div> Click here before this offer is done and gone.	</div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#timesUp">SUBJECT: Times up, {FIRSTNAME}....</a>
                </h4>
            </div>
            <div id="timesUp" class="panel-collapse collapse">

                <div>
                    {FIRSTNAME}}, I know you want to get published, you want to do it on your terms, and write about your interests. You don't care what others think is interesting or makes money.
                    <br />
                </div>
                <div>You want to do your own thing. And there's nothing wrong with that.</div>
                <div>
                    <br />
                    And like I've said before, we can help you with that.
                </div>
                <div>
                    For the past seven days, I've been telling you all about our course "How to Write Your Own Money-Making Websites." This course will show you
                </div>
                <div>
                    <br />
                </div>

                <div>
                    • How to attract and keep “loyal customers” by keeping your website fresh and exciting
                </div>
                <div>
                    <br />
                </div>
                <div>
                    • How to choose the best, most traffic-friendly topic for your sit
                </div>
                <div>
                    <br />
                </div>
                <div>
                    • Write copy that grabs interest.
                </div>
                <div>
                    <br />
                    And so much more.
                </div>
                <div>
                    Here's your chance. With our course, you get the skills you need to "do your own thing" using the website(or websites) you build.
                    <br />
                </div>
                <div>
                    . Yet you still haven't taken advantage of our 50% off offer. After midnight tonight, it goes back to regular price.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    But before that happens, please take one last look at all this course has to offer.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to take one last look-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Frankly, I'm puzzled at why you haven't grabbed up this opportunity before now...
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Maybe you’re just tired of me talking and you’re ready to go. Great.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to sign up already-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Again, here are just some of the benefits you’ll get from the course.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    • Where to find the best and highest-paying affiliates.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    • How to pick a name for your website.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    • How to write copy search engines love
                </div>
                <div>
                    <br />
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Can you think of any other program that can promise you that--AND back it up with a 100% risk-free guarantee?
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I can’t.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to sign up already-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    Look, here's the bottom line:
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I've made it incredibly simple to follow...
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I've made it incredibly fast to see results...
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I've made it incredibly easy to get your money back if you're not satisfied...
                </div>
                <div>
                    <br />
                </div>
                <div>
                    I've even made it incredibly valuable, with the added bonuses I've thrown in for a limited time.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    And best of all, I've made it incredibly AFFORDABLE, so anyone can join in.
                </div>
                <div>
                    <br />
                </div>
                <div>
                    What else can I do?
                </div>
                <div>
                    <br />
                </div>
                <div>
                    -Click here to sign up already-
                </div>
                <div>
                    <br />
                </div>
                <div>
                    CLIENT NAME
                </div>
                <div>
                    <br />
                </div>
                <div>
                    P.S. Thanks for your time over the last few weeks. It's been a pleasure speaking with you, and I truly hope our paths cross again soon.
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</article>

             




