

            
          
<article style="font-size:16px;">

          
        <p>
           You need copy that tells your customer your solution solves their problem.
        </p>
        <p>The copy I write does just that.</p>

        <p>
            But rather than just have me tell you what I can do, let me show you. I
            have samples on this site that you can look at. Send me any marketing
            piece-ad, brochure, sales letter, white paper, etc. I’ll send you back an
            analysis of what’s right, what could be better, and what I would do. I also
            work on spec. I will be happy to write something up that will give you an idea of the style and direction I'll use.
            So get in touch and let me know what you're trying to achieve.
        </p>
        <p>I look forward to hearing from you.</p>


</article>