<div class="row">
 
      <div id="openMsg" style="display:none; text-align:center; height:500px">

      </div>

</div>
<script type="text/javascript">
            var msgs = ["Years of experience with technology", "Will work on spec"];
            //$(document).ready(function () {
            //    var idx = 0;
            //    var myVar = setInterval(myTimer, 3000);
            //    var winLoc = window.location;
            //    var index = 'Url.Action("Index", "Home")';
               

            //    function myTimer() {
                
            //        if(idx==msgs.length){
            //            idx = 0;
            //        }
            //        var msg = '<h2>' + msgs[idx] + '</h2>';
            //        $("#openMsg").html('');
            //        $("#openMsg").fadeIn(1100);
            //        $("#openMsg").append(msg);
                   
            //        $("openMsg").fadeOut(1100);
            //        idx++;
            //    }      
                   
            //});

</script>

