<article style="padding-top:10px">
    <p>
        What. Why. Where. When.
    </p>
    <p>
        No matter what you sell, and who sell it to, your customers are going to
        want to know two things.
    </p>
    <p>
        What do you have to sell?
    </p>
    <p>
        Why should I or my business care?
    </p>
    <p>
        I can help you answer both of those questions for your customers. If you
        need to introduce your productive or service or update existing customers,
        an email campaign is a good way to do that. I can help with that.
    </p>
    <p>
        But you need to do more than just get their attention. You need to develop
        rapport with your customer, and with rapport comes trust. You develop this
        rapport by telling the customer the story of you and your business. And by
        revealing this story, you explain how your solution best solves the
        customers problem.
    </p>
    <p>
        Email marketing is a great way to introduce your business and remind your
        customers that you are there. White papers explain your story in more
        depth. I can help you with both.
    </p>
    <p>
        I have a degree in Technical Communications from the University of
        Tennessee. I have written articles on subjects involving people, health,
        and technology. And I have spent years working as a software developer in
        enterprise development. I know technology and I can explain it to a six
        grader.
    </p>
    <p>
        But rather than just have me tell you that I can help, let me show you.
        Send me any marketing piece-ad, brochure, sales letter, white paper. And
        I’ll send you back an analysis of what’s right, what could be better, and
        what I would do. I also do work on spec.
    </p>
    <p>
        Email me here, Ernest Lipford at    <a href="mailto:integralmessaging@gmail.com">integralmessaging@gmail.com</a>.
    </p>
    <p>
        I look forward to hearing from you.
    </p>

</article>
