<article>

    <p>What. Why. Where. When.</p>
    <p>
        No matter what you sell, and who sell it to, your customers are going to want to know two things.
    </p>

    <p>What do you have to sell?</p>

    <p>Why should I or my business care?</p>
    <p>
        I can help you answer both of those questions for your customers. If you need to introduce your productive or service or update existing customers, an email campaign is a good way to do that. I can help with that.  Let’s say you have a potential customers attention.
        Great. But you may still need to explain to your customer what their problem is.  Definitely, you need to explain how your business will solve the customer’s problem. I write white papers that do both.
        Email letters, web copy, white papers are ways to get in front of customers- and stay there. I can help with all that.
    </p>
    <p> I have a degree in Technical Communications from the University of Tennessee. I have written articles on subjects involving people, health, and technology. And I have spent years working as a software developer in enterprise development. I know technology and I know how to explain it to a six grader.</p>

    <p>
        But rather than just have me tell you that I can help, let me show you. Send me any marketing piece-ad, brochure, sales letter, white paper. And I’ll send you back an analysis of what’s right, what could be better, and what I would do. I also do work on spec.
        Email me here, Ernest Lipford at leapforward@gmail.com.
    </p>

    <p>I look forward to hearing from you. </p>

    </article>
