

            
          
<article style="font-size:16px;">


    <p>
        No matter what you business, your customers are going to want to know two
        things.
    </p>
    <ul>
        <li>
            What do you have to offer?
        </li>
        <li>
            Why should I or my business care?
        </li>
    </ul>
    <p>
        My copy will answer both of those questions.
    </p>
    <strong>
        It gets their attention. And it builds rapport
    </strong>
    <p>
        Before anything else, however, you have to get noticed. You need copy that
        tells your customer something that they never heard before. Or it tells
        them what they know or think they know, but in a way that allows them to see
        their problem in a different light. I write copy that does both.
    </p>

    <p>
        But rather than just have me tell you that I can help, let me show you. I
        have samples on this site that you can look at. Send me any marketing
        piece-ad, brochure, sales letter, white paper, etc. I’ll send you back an
        analysis of what’s right, what could be better, and what I would do. I also
        do work on spec.
    </p>

</article>