

            
          
<article style="font-size:16px;">

    <p>
        No matter what you business, your customers are going to want to know two
        things.
    </p>
    <ul>
        <li>
            What do you have to offer?
        </li>
        <li>
            Why should I or my business care?
        </li>
    </ul>
    <p>
        My copy will answer both of those questions.
    </p>
    <div>
        <strong>
            It gets their attention. And it builds rapport
        </strong>
    </div>
    <br />
    <p>
        Before anything else you have to get noticed. You need copy that
        tells your customer something that they never heard before. Or it tells
        them what they know or think they know, but in a way that shows them
        their problem in a different light. 
    </p>
    <p>My copy shows them that you're solution is their solution</p>

    <p>
        But rather than just have me tell you what I can do, let me show you. I
        have samples on this site that you can look at. Send me any marketing
        piece-ad, brochure, sales letter, white paper, etc. I’ll send you back an
        analysis of what’s right, what could be better, and what I would do. I also
        work on spec. I will be happy to write something up that will give you an idea of the style and direction I'll use.
        So get in touch and let me know what you're trying to achieve.
    </p>
    <p>I look forward to hearing from you.</p>
</article>