
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h4>Email Marketing </h4>
    <article>Click on links below for email samples</article>
</div>
<br />

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Subjects  : You’re not a published writer because you hate rejection. Try this…
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row artcl">
            
                        <p>
                            I met this lady-I’ll call her Linda- who was an aspiring author. She wrote and submitted fifteen romance novels to publishers. All fifteen were rejected.
                            Ouch.
                        </p>

                        <p>The lady told me then that she was working on her sixteenth novel.  And she was going to submit that one as well. I don’t know if sixteen was the magic number or not, but way to push, there Linda!</p>
                        <p>
                            Would you put yourself through that? I know I wouldn't. I don't expect many of us would.
                        </p>

                        <p>But you know what?  You don’t have to. Forget about editors and fancy pants publishers and their expectations. You can get published right now! And make money!</p>

                        <p>How? By publishing on the web.  Write compelling content that will draw people to your site. Your writing will be out there for everybody to see!
                        <p>I love writing, but I don’t know how to put it on the internet…</p>
                        And that’s where we come in. Our course called How to Write Your Own Money-Making Websites will show you the quickest and cheapest way to get a website up and running. </p>
                        <p>Click here to find out more!</p>

                        <p>There’s millions of websites out there! Why would anyone other than a few friends come to mine?</p>

                        <p>How to Write Your Own Money-Making Websites will show you how to write compelling content that will attract more than just your friends to your website. The course will also show you how to use keywords and other Search Engine Optimization tricks(SEO) which will bring folks to your website.</p>

                        <p>Click here to find out more!</p>

                        <p>Sounds like a big hassle putting up a website and all. Besides you don’t make that much money.</p>

                        <p>You sure about that? If you’re truly passionate about something then it’s a good bet that someone else is. More than just someone in fact. Again, How to Write Your Own Money-Making Websites will show you how to easily put a website. And there is potential for serious money to be made by promoting products, email marketing, affiliate marketing, and so on.</p>

                        <p>Click here to get started making money!</p>

                        <p>If you really want to be writer and live the dream, now’s the chance. How to Write Your Own Money-Making Websites lays it out for you.</p>

                        <ul>
                            <li>Choose the best way to make your topic traffic friendly.</li>
                            <li>How to pick a domain name that will get customers.</li>
                            <li>Write copy that grabs interest.</li>
                            <li>Where to find affiliates</li>
                            <li>How to pick a name for your website. </li>
                            <li>How to write copy search engines love</li>
                        </ul>

                                <p>Who’s afraid of rejection now? You have no excuse.  </p>
                                <p>Click here to stop daydreaming and to learn how to start living the life you always wanted! </p>
                                <p>Start today! </p>
                            
                    </div>
              
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Collapsible Group Item #2
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" Log In Sign Up
             HTML>
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Collapsible Group Item #3
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>


<br />
<div style="text-align:center">


</div>

<div style="text-align:center">
    <h4>Direct Mail</h4>
    <article>Click on link below for Direct Mail samples</article>
</div>
<br />

<a href="~/Samples/DirectMail/Show your kids where money grows .docx">My video game=your kid's financial smarts</a>




<div style="text-align:center">


</div>

<script type="text/javascript">
    $('btnCollapse').click(function () {
        var btn = $(this);
        if (btn.text() == "Open") {
            btn.text("Close");
        }
        else {
            btn.text("Open");
        }

    })
</script>


