
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h4>Email Marketing </h4>
   <article>Click on links below for email samples</article>
</div>
<br />


<br />
<div style="text-align:center">


</div>

<div style="text-align:center">
    <h4>Direct Mail</h4>
    <article>Click on link below for Direct Mail samples</article>
</div>
<br />

    <a href="~/Samples/DirectMail/Show your kids where money grows .docx">My video game=your kid's financial smarts</a>
   



<div style="text-align:center">


</div>

