
@{
    ViewBag.Title = "SuccessPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  id="modalSuccess">
    
                <h5 class="modal-title">Thanks! I'll be in touch.</h5>
                @*<button type="button" class="close" id="btnClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
      
</div>

<script>
    $(function () {
        $("#modalSuccess").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                    window.location = '@Url.Action("Index","Home")';
                }
            }
        });
    });

       
  
    $(document).ready(function () {
        var loc = window.location;
        $("#modalSuccess").dialog("open");

    });




</script>

